@charset "utf-8";
/* CSS Document */

body {
    background-color: rgba(0, 0, 0, .2);
}

.menu-enlaces{
    display: inline-block;
    background: rgb(150, 62, 56);
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
    background-color: transparent(50%);
}

.menu-enlaces:hover{
    background: rosybrown;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#banner {
    margin: 0px;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
}

.sect-qsomos {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-qsomos {
    width: 80%;
    padding: 15px 10px;
}

.titulo-qsomos {
    color: rgb(150, 62, 56);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding-left: 4px;
}

.into-qsomos, h2 {
    color: rgb(32, 23, 23);
    font-family: 'Kanit', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: justify;
    padding: 0 4px;
}

.contenido-video {
    width: 72.5%;
    margin: auto;
}

.titulo-videoPrincipal {
    padding-left: 25px;
    margin-top: 10px;
    font-family: sans-serif;
}

.contendido.videoPrincipal {
    position: relative;
    padding-top: 56.25%;
}

.videoPrincipal {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

.datos{
    width: 100%;
    height: auto;
    background: #884c45;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
       
}

.final{
    width: 270px;
    height: 300px;
    margin-left: 1px;
    padding: 10px 0 0 15px;
    margin-top: 20px;
    border: 0 0 0 1px solid #ddd;
}

.sbttl{
    color: white;
    font-family: 'Oswald', sans-serif;
}

.txts{
    color: white;
    font-family: 'Kanit', sans-serif;
}

footer{
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    text-align: center;
    padding: 10px
}

.redess{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.redess a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
